@model Person

<h2>Create a New Reservation</h2>

@using (Html.BeginForm("InsertPersonToDatabase", "person", "Post"))
{
    <input asp-for="PersonID" type="hidden" value="" />

    <label asp-for="FName" class="control-label">First Name</label>
    <input type="text" name="FName" class="form-control" value="" />

    <label asp-for="LName" class="control-label">Last Name</label>
    <input type="text" name="LName" class="form-control" />

    <label asp-for="PhoneNum" class="control-label">PhoneNum</label>
    <input type="number" name="PhoneNum" class="form-control" />

    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" />

    <label asp-for="ReserveDate" class="control-label">Reserve Date</label>
    <input type="datetime" name="ReserveDate" class="form-control" />

    <input type="submit" value="Create Person" class="btn btn-primary" />
    <div class="form-group">
        <label for="">Reservation</label>
        <select class="form-control" name="PersonID" value="">
        </select>
    </div>


}