@{
    ViewData["Title"] = "Home Page";
}
<div class="background-image">

    <link rel="stylesheet" href="/css/site.css" />
</div>

<div class="text-center background_image">
    <h1 class="display-4">Welcome</h1> 
    <div class="textsize">
    <p>Thank you For Choosing Rest an Relaxation.
        Your can set up a reservation on the Person page above,
        Or view your current appointment there as well.
    </a></p>
    </div>
</div>